<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Contacts">
        <classes>
            <class name="ru.mantis.tests.LoginTests"/>
            <class name="ru.mantis.tests.RegistrationTests"/>
            <class name="ru.mantis.tests.CreateIssueTests"></class>
        </classes>
    </test>
</suite>